<?xml version="1.0"?>

<launch>

  <!-- Start the battery monitor -->
  <node pkg="rosserial_python" name="bat_monitor_link" type="serial_node.py" args="/dev/bat_monitor" />

  <!-- Start rosflight and load parameters -->
  <include file="/home/ohrad/catkin_ws/src/rosflight/rosflight/launch/A01/A01_rf.launch" /> 

  <!-- Start the z_state_estimator and rangefinder -->
  <include file="/home/ohrad/catkin_ws/src/z_state_estimator/launch/estimator.launch" />

  <!-- Launch Compass -->
  <include file="/home/ohrad/compass_ws/src/compass_node/launch/A01_compass.launch" />
  <node pkg="rosflight" name="compass2odom" type="compass2odom" respawn="true"/>
  
  <node pkg="roscopter" name="high_level_command_pub" type="subt_compass_traj_manager.py" output="screen" respawn="true" />

  <!-- Launch Octomap -->
  <include file="/home/ohrad/catkin_ws/src/octomap_mapping/octomap_server/launch/compass_octomap.launch" />
  
  <!-- Launch Btraj -->
  <include file="/home/ohrad/catkin_ws/src/Btraj/launch/subt_compass_planner.launch" />

</launch>
